.site-card-border-less-wrapper {
    padding: 110px;
    background: #282c34;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-weight: bold;
    min-height: 100%;
  }

  .left{
    font-weight: bold;
    text-align: left;
    float: left;
  }

  .left2{
    font-weight: bold;
    text-align: left;
    float: left;
    width: 100;
  }
  
  .center{
    font-weight: bold;
    text-align: center;
    float: center;
  }

    
