    
    
    .grid {
        display: flex;
        flex-wrap: wrap;
        align-items: bottom;
        padding: 15px;
        grid-gap: 30px;
        min-height: 100vh;
    }

    .label2 {
     
        display: block;
        text-align: left;
        margin-left: 15px;
        margin-top: 2%;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: medium;
    }
       
    .flexbox-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        
    }
    
    .container {
        width: 100%;
        height: 20vh;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5vh;
    
    }
    .container-2 {
        height: 100;
        ;
    }
   
    .left {
     
     width: 15%;
    
     float:left;
 
    }

    
    .second {
   
    width: 15%;
    float:left;
    }
    .left label {
        display: flex;
        color: white;
    }

    .brand-drop {
        display: flex;
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 1vh;
        margin-bottom: 1vh;
        
    }
    .model-drop {
        display: flex;
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 1vh;
        margin-bottom: 1vh;
        
    }

    .second label {
        display: flex;
        color: white;
    }

    .fuel-drop {
        display: flex;
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .local-drop {
        display: flex;
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .third {
        width: 15%;
        float:left;
        
    }

    .min-price-drop {
        display: flex;
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .max-price-drop {
        display: flex;
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .third label {
        display: flex;
        color: white;
    }
    .fourth {
        width:15%;
        float:left;
        
    }

    .min-mileage-drop {
        display: flex;
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .max-mileage-drop {
        display: flex;
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .fourth label {
        display: flex;
        color: white;
    }

    .fifth {
        width: 15%;
        float:left;
        
    }

    .min-year-drop {
        display: flex;
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .max-year-drop {
        display: flex;
        font-size: large;
        width: 150px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .fifth label {
        display: flex;
        color: white;
    }

     
    .button {
        display: inline-block;
        border-radius: 0px;
        background-color: #ffd700;
        border: none;
        color: #000000;
        text-align: center;
        font-size: 15px;
        padding: 20px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        height: 60px;
        border-radius:10px;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
   